<div class="code-edit-wrapp">
    <div class="left-container">
        <div class="left-container-config">
            <div class="search-container">
                <mat-form-field>
                    <input [(ngModel)]="searchCategory" matInput type="search" placeholder="Categories"
                        class="search-input">
                </mat-form-field>
            </div>
            <div class="add-button-container">
                <div class="button-container">
                    <button mat-mini-fab color="primary" aria-label="add category" (click)="createNewCategory()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div class="empty-block"></div>
            </div>
        </div>
        <div class="categories-list">
            <div class="category-item">
                <button mat-raised-button color="primary" [routerLink]="['/main/code/catalog/all']"
                    (click)="codeCategoryService.setCurrentCategory('all')" routerLinkActive="router-link-active"
                    [routerLinkActiveOptions]="{exact: true}">
                    All
                </button>
            </div>
            <div *ngFor="let category of getCategories() | async" class="category-item">
                <button [routerLink]="['/main/code/catalog', category.Id]" routerLinkActive="router-link-active"
                    routerLinkActive="router-link-active" mat-raised-button
                    (click)="codeCategoryService.setCurrentCategory(category.Id)" color="primary">
                    <div class="button-content">
                        <span class="text">{{category.Name}}</span>
                        <mat-icon (click)="deleteCategory(category.Id)" class="del-icon">close</mat-icon>
                    </div>

                </button>
            </div>
        </div>
    </div>
    <div class="code-content">
        <div class="code-content-tools">
            <div class="add-button-container">
                <div class="button-container">
                    <button mat-mini-fab color="primary" [routerLink]="['/main/code/create']">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div class="empty-block"></div>
            </div>
        </div>
        <div class="code-items">
            <ng-container
                *ngIf="getAllCode(this.codeCategoryService.currentCodeCategory | async) | async as codeColletion;">
                <div *ngFor="let code of codeColletion" class="code-item-outer">
                    <mat-card class="card">
                        <div class="header">
                            <div class="title">
                                <mat-card-title>{{code.Name}}</mat-card-title>
                                <mat-card-subtitle>
                                    {{code.Title}}
                                </mat-card-subtitle>
                            </div>
                            <div class="category-container">
                                <button routerLinkActive="router-link-active" mat-raised-button color="primary">
                                    <span class="text">{{code.Category.Name}}</span>
                                </button>
                            </div>
                        </div>
                        <mat-card-content>

                        </mat-card-content>
                        <mat-divider inset></mat-divider>
                        <mat-card-actions class="actions">
                            <button mat-button>
                                <mat-icon>share</mat-icon>
                            </button>
                            <button mat-button>
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-card-actions>
                        <!-- <mat-card-footer>
                    </mat-card-footer> -->
                    </mat-card>
                </div>
                <ng-container *ngIf="!codeColletion.length" [ngTemplateOutlet]="noItems"></ng-container>
            </ng-container>
            <!-- <div *ngIf="codeColletion?.length == 0">No data</div> -->
        </div>
    </div>
</div>

<ng-template #noItems>
    <div class="no-items">
        <div>
            <h1>Code items not found</h1>
        </div>
    </div>
</ng-template>