.ng-star-inserted {
    width: 100%;
}
.main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-height: calc(100vh - 70px - 30px);
    .content {
        flex: 1;
    }

    button.router-link-active {
        background-color: #ffd740;
        color: #585656;
        box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    }
}

.left-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    //min-height: 570px;
    height: calc(100vh - 70px - 30px);
    background: rgba(196, 196, 196);
    .top-icon {
        .icon-button-container {
            padding-top: 5px;
        }
    }
    .mid-icon {
        .icon-button-container {
            padding-top: 20px;
        }
    }
    .bot-icon {
        .icon-button-container {
            padding-bottom: 5px;
        }
    }
}