<div class="content-wrap">
    <div class="content">
        <div class="content-text">
            <div class="content-text-inner">
                <div class="content-text-inner-left">
                    <span>
                        <span class="content-text-inner-symbol">&lt;&lt;</span> Write your code </span>
                </div>
                <div class="content-text-inner-center">
                    <p> save your code</p>
                </div>
                <div class="content-text-inner-right">
                    <p>send your code <span class="content-text-inner-symbol">&gt;&gt;</span> </p>
                </div>
            </div>
        </div>
        <div class="content-login">
            <div class="content-login-form">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>