<div class="content">
    <div class="content-text">
        <div class="content-text-inner">
            <div class="content-text-inner-left">
                <span>
                    <span class="content-text-inner-symbol">&lt;&lt;</span> Write your code </span>
            </div>
            <div class="content-text-inner-center">
                <p> save your code</p>
            </div>
            <div class="content-text-inner-right">
                <p>send your code <span class="content-text-inner-symbol">&gt;&gt;</span> </p>
            </div>
        </div>
    </div>
    <div class="content-login">
        <div class="content-login-form">
            <router-outlet></router-outlet>
        </div>
        <div class="content-login-buttons">
            <div class="content-login-buttons-inner">
                <button [routerLink]="['/login']" mat-stroked-button color="primary" type="button"
                    routerLinkActive="mat-raised-button" (click)="singIn()">Sing
                    In</button>
                <button [routerLink]="['/register']" mat-stroked-button color="primary"
                    routerLinkActive="mat-raised-button">Sing
                    Up</button>
            </div>
        </div>
    </div>
</div>