.code-editor {    
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
    &-tools {
        height: 40px;
    }
    &-text {
        overflow-y: scroll;
        flex: 1;
        .CodeMirror{
            height:100%;
        }
    }
    
}
