<div class="code-editor">
    <div class="code-editor-tools">
        <form #myForm="ngForm">
            <button (click)="onSaveButtonClick()" mat-raised-button color="primary" class="save-button">
                Save
            </button>
            <mat-form-field appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Title" [(ngModel)]="codeData.name" name="title">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Category</mat-label>
                <mat-select [(ngModel)]="selectedCategory" name="category">
                    <mat-option *ngFor="let category of this.codeCategoryService.allCategories | async"
                        [value]="category.id">
                        {{category.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
    <div class="code-editor-text">
        <ngx-codemirror [(ngModel)]="codeData.text" [options]="{
            lineNumbers: true,
            theme: 'material-palenight',
            mode: 'javascript',
            lineWrapping: true
        }">
        </ngx-codemirror>
    </div>
</div>