<div class="code-editor">
    <div class="code-editor-tools">
        <form [formGroup]="form" (submit)="onSaveButtonClick()">
            <button mat-raised-button type="submit" color="primary" class="save-button">
                Save
            </button>
            <mat-form-field appearance="fill">
                <mat-label>Title</mat-label>
                <input formControlName="name" matInput placeholder="Title" name="name">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Category</mat-label>
                <mat-select formControlName="codeCategoryId" name="codeCategoryId">
                    <mat-option *ngFor="let category of this.codeCategoryService.allCategories | async"
                        [value]="category.id">
                        {{category.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
    <div  [formGroup]="form" class="code-editor-text">
        <ngx-codemirror formControlName="text" [options]="{
            lineNumbers: true,
            theme: 'material-palenight',
            mode: 'javascript',
            lineWrapping: true
        }">
        </ngx-codemirror>
    </div>
</div>