<div class="code-item-outer">
    <mat-card class="card" [routerLink]="['/main/code/edit/', code.id]">
        <div class="header">
            <div class="title">
                <mat-card-title>{{code.name}}</mat-card-title>
            </div>
            <div class="category-container">
                <button mat-raised-button color="primary">
                    <span class="text">{{code.codeCategory?.name || 'All'}}</span>
                </button>
            </div>
        </div>
        <mat-divider inset></mat-divider>
        <mat-card-content class="content">
            <h4 class="description">
                No description
            </h4>
            <mat-card-actions class="actions">
                <button mat-button>
                    <mat-icon>share</mat-icon>
                </button>
                <button mat-button (click)="delete()">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
            <div class="date">{{code.updatedOn | date}}</div>
        </mat-card-content>
    </mat-card>
</div>