.code-item-outer:hover {
    .mat-card {
        background-color: #f1f1f1;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        .actions {
            visibility: visible;
        }
        .description {
            color: #939393;
        }
    }
}
.code-item-outer {
    cursor: pointer;
    padding: 10px;
    width: 370px;
    .mat-card {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .header {
            display: flex;
            justify-content: space-between;
        }
        .title {
            max-height: 40px;
            overflow: hidden;
        }
        .content {
            height: 69px;
            overflow: hidden;
        }
        .actions {
            position: absolute;
            position: absolute;
            top: 95px;
            right: -5px;
            visibility: hidden;
            display: flex;
            justify-content: flex-end;
        }
    }
}