.code-item-outer:hover {
    .mat-card {
        background-color: #f1f1f1;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        .actions {
            visibility: visible;
        }
    }
}
.code-item-outer {
    cursor: pointer;
    padding: 10px;
    width: 370px;
    .mat-card {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .header {
            display: flex;
            justify-content: space-between;
        }
        .actions {
            visibility: hidden;
            display: flex;
            justify-content: flex-end;
        }
    }
}