<div class="wrapp">
    <header>
        <div class="header-content">
            <div class="header-content-icon">
                <img src="assets/logo-icon.svg" />
            </div>
            <div class="user-control">
                <code-ss-user-profile></code-ss-user-profile>
            </div>
        </div>
    </header>
    <main>
        <div class="main-inner">
            <router-outlet class="main"></router-outlet>
        </div>
    </main>
    <footer></footer>
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
        <p style="color: white"> Loading... </p>
    </ngx-spinner>
</div>