
$content-width: 1280px;

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    background: rgba(196, 196, 196, 0.16);
    .header-content {
        width: $content-width;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 168px;
            height: 50px;
            background: var(--first-color);
            font-weight: 700;
            text-align: center;
            color: white;
            font-size: 24px;
        }
    }
}
main {
    min-height: 570px;
    height: calc(100vh - 70px - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    height: 50px;
    background: rgba(196, 196, 196, 0.16);
}