
$content-width: 1345px;

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    background: rgba(196, 196, 196, 0.16);
    .header-content {
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 168px;
            height: 50px;
            background: var(--first-color);
            font-weight: 700;
            text-align: center;
            color: white;
            font-size: 24px;
        }
    }
}
main {
    height: calc(100vh - 70px - 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .main-inner {
        width: 100%;
        height: 100%;
       // min-height: 570px;
        max-height: calc(100vh - 70px - 30px);
    }
}


footer {
    width: 100%;
    height: 30px;
    background: rgba(196, 196, 196, 0.16);
}