<div class="register">
    <mat-form-field appearance="outline">
        <mat-label>Login</mat-label>
        <input matInput placeholder="Login">
        <!-- <mat-icon matSuffix> sentiment_very_satisfied </mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email">
        <!-- <mat-icon matSuffix> sentiment_very_satisfied </mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password">
        <!-- <mat-icon matSuffix> sentiment_very_satisfied </mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Repeat Password</mat-label>
        <input matInput placeholder="Repeat Password">
        <!-- <mat-icon matSuffix> sentiment_very_satisfied </mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
</div>