<div class="code-edit-wrapp">
    <div class="left-container">
        <div class="left-container-config">
            <div class="search-container">
                <mat-form-field>
                    <input matInput type="search" placeholder="Categories" class="search-input">
                </mat-form-field>
            </div>
            <div class="add-button-container">
                <button mat-mini-fab color="primary" aria-label="add category">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        <div class="categories-list">
            <div class="category-item">
                <button mat-raised-button color="primary">SQL</button>
            </div>
            <div class="category-item">
                <button mat-raised-button color="primary">JavaScript</button>
            </div>
            <div class="category-item">
                <button mat-raised-button color="primary">C#</button>
            </div>
            <div class="category-item">
                <button mat-raised-button color="primary">Using Patterns</button>
            </div>
            <div class="category-item">
                <button mat-raised-button color="primary">Best practics</button>
            </div>
            <div class="category-item">
                <button mat-raised-button color="primary">Services</button>
            </div>
        </div>
    </div>
    <div class="code-content">

    </div>
</div>