<div *ngIf="login$ | async as login" class="name-icon" [matMenuTriggerFor]="menu">
    {{login[0]?.toUpperCase()}}
</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>My profile</span>
    </button>
    <button mat-menu-item [routerLink]="['/main/setting']">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
    </button>
    <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Log out</span>
    </button>
</mat-menu>