.profile-setting {
    .profile-form {
        margin-right: 50px;
    }
    display: flex;
    margin: 30px;
    background: #f6f6f6;
    padding: 20px;
    .avatar-container {
        position: relative;
        button {
            position: absolute;
            top: 107px;
            left: 110px;
            outline: white 3px solid;
        }
    }
}

.file-input {
    display: none;
}