<div class="profile-setting">
    <div class="profile-form">
        <h2>My profile</h2>
        <form #myForm="ngForm" (ngSubmit)="submitForm(myForm)">
            <p>
                <mat-form-field required appearance="legacy">
                    <mat-label>Name</mat-label>
                    <input name="name" matInput placeholder="Placeholder" [(ngModel)]="userData.name" required>
                    <mat-hint>Your name</mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>Email</mat-label>
                    <input name="email" [formControl]="emailFormControl" [errorStateMatcher]="matcher" type="email" matInput placeholder="Placeholder" [(ngModel)]="userData.email" required>
                    <mat-hint>your work email</mat-hint>
                </mat-form-field>
            </p>
            <p>
                <button type="submit" mat-raised-button color="accent">Accent</button>
            </p>
        </form>
    </div>
    <div class="avatar-container">
        <code-ss-user-avatar></code-ss-user-avatar>
        <!-- <code-ss-avatar [Login]="Login" [ImgUrl]="ImgUrl"></code-ss-avatar> -->
        <input type="file" accept=".jpg ,.jpeg,.png,.svg" class="file-input" (change)="onFileSelected($event)"
            #fileUpload>
        <button mat-mini-fab (click)="fileUpload.click()" color="primary"
            aria-label="Example icon button with a menu icon">
            <mat-icon>upload</mat-icon>
        </button>
    </div>
</div>