<div class="left-container-config">
    <div class="search-container">
        <mat-form-field>
            <input [(ngModel)]="searchCategory" matInput type="search" placeholder="Categories" class="search-input">
        </mat-form-field>
    </div>
    <div class="button-outer">
        <code-ss-add-button (click)="createNewCategory()"></code-ss-add-button>
    </div>
</div>
<div class="categories-list">
    <div class="category-item">
        <button mat-raised-button color="primary" [routerLink]="['/main/code/catalog/all']"
            (click)="codeCategoryService.setCurrentCategory('all')" routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{exact: true}">
            All
        </button>
    </div>
    <div *ngFor="let category of getCategories() | async" class="category-item">
        <button [routerLink]="['/main/code/catalog', category.id]" routerLinkActive="router-link-active"
            routerLinkActive="router-link-active" mat-raised-button
            (click)="codeCategoryService.setCurrentCategory(category.id)" color="primary">
            <div class="button-content">
                <span class="text">{{category.name}}</span>
                <mat-icon (click)="deleteCategory(category.id)" class="del-icon">close</mat-icon>
            </div>

        </button>
    </div>
</div>