@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/material';
/* You can add global styles to this file, and also import other style files */
:root {
  --first-color : #673ab7d9;
  --second-color: #ffd740;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

body {
  margin     : 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

label {
  min-height: 20px;
}

input {
  min-height: 16px;
  height: 16px;
}

div::-webkit-scrollbar {
  width: 10px;
}

div::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

div::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: #8070d4;
}